﻿@model _19T1021223.DomainModels.ProductAttribute
@{

}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/SaveAttribute" method="post">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.AttributeID)
            @Html.HiddenFor(m => m.ProductID)
            <div class="form-group">
                <label class="control-label col-sm-2">Tên thuộc tính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="AttributeName" value="@Model.AttributeName" autofocus>
                    @Html.ValidationMessageFor(m => m.AttributeName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá trị thuộc tính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="AttributeValue" value="@Model.AttributeValue" autofocus>
                    @Html.ValidationMessageFor(m => m.AttributeValue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thứ tự hiển thị:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="DisplayOrder" value="@Model.DisplayOrder" autofocus>
                    @Html.ValidationMessageFor(m => m.DisplayOrder, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/product/edit/@Model.ProductID">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>


