﻿@model _19T1021223.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Mặt hàng";
}

<div class="container-fluid box box-primary">
    <div class="box-header">
    </div>
    <div class="box-body">
        <form id="formSearch" action="~/product/search" method="post">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control" name="SupplierID">
                        <option>-- Loại hàng --</option>
                        @foreach (var item in _19T1021223.BusinessLayers.CommonDataService.ListOfSuppliers())
                        {
                            if (item.SupplierID == Model.SupplierID)
                            {
                                <option value="@item.SupplierID" selected>
                                    @item.SupplierName
                                </option>
                            }
                            else
                            {
                                <option value="@item.SupplierID">
                                    @item.SupplierName
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" name="CategoryID">
                        <option>-- Nhà cung cấp --</option>
                        @foreach (var item in _19T1021223.BusinessLayers.CommonDataService.ListOfCategories())
                        {
                            if (item.CategoryID == Model.CategoryID)
                            {
                                <option value="@item.CategoryID" selected>
                                    @item.CategoryName
                                </option>
                            }
                            else
                            {
                                <option value="@item.CategoryID">
                                    @item.CategoryName
                                </option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-6 input-group">
                    @Html.HiddenFor(m => m.PageSize)
                    <input type="text" name="searchValue" value="@Model.SearchValue"
                           class="form-control"
                           placeholder="Nhập tên mặt hàng cần tìm" autofocus>
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                        <a href="~/product/create"
                           class="btn btn-flat btn-primary"
                           style="margin-left:5px;">
                            <i class="fa fa-plus"></i> Bổ sung
                        </a>
                    </span>
                </div>
            </div>
        </form>
    </div>
    @*Kết quả tìm kiếm *@
    <div id="searchResult"></div>

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}


