﻿@model _19T1021223.DomainModels.Supplier
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Supplier/Save" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.SupplierID" name="SupplierID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Tên nhà cung cấp:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.SupplierName" name="SupplierName" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.ContactName" name="ContactName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.Address" name="Address">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.Phone" name="Phone">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia :</label>
                <div class="col-sm-10">
                    <select class="form-control" name="Country">
                        <option>-- Chọn quốc gia --</option>
                        @foreach (var item in _19T1021223.BusinessLayers.CommonDataService.ListOfCountries())
                        {
                            if (item.CountryName == Model.Country)
                            {
                                <option value="@item.CountryName" selected>
                                    @item.CountryName
                                </option>
                            }
                            else
                            {
                                <option value="@item.CountryName">
                                    @item.CountryName
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thành phố:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.City" name="City">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã bưu chính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.PostalCode" name="PostalCode">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Supplier" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>

