﻿@model _19T1021223.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản lý nhà cung cấp";
}
<div class="box box-primary">
    <div class="box-body">
        @*Form tìm kiếm*@
        <form id="formSearch" action="~/Supplier/Search">
            <input type="hidden" name="PageSize" value="@Model.PageSize" />
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchValue" value="@Model.SearchValue" autofocus>
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                    </button>

                    <a href="~/Supplier/Create" class="btn btn-primary" style="margin-left:5px;">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </div>
            </div>
        </form>
        @*Kết quả tìm kiếm *@
        <div id="searchResult"></div>

    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}


