﻿@model _19T1021223.DomainModels.Employee
@{
    ViewBag.Title = "Xóa thông tin nhân viên";
}

<div class="box box-danger">
    <div class="box-body">
        <form class="form-horizontal" action="~/Employee/Delete/@Model.EmployeeID" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh:</label>
                <div class="col-sm-10">
                    <img src="@Model.Photo" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Họ và tên :</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.LastName @Model.FirstName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.BirthDate</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email :</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Email</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ghi chú:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Notes</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @if (_19T1021223.BusinessLayers.CommonDataService.InUsedEmployee(Model.EmployeeID))
                    {
                        <button type="submit" class="btn btn-danger disabled">
                            <i class="glyphicon glyphicon-trash"></i> Xóa dữ liệu
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i> Xóa dữ liệu
                        </button>
                    }

                    <a href="~/Employee" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>


