﻿@model _19T1021223.DomainModels.Employee
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Employee/Save" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.EmployeeID" name="EmployeeID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Họ khách hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.LastName" name="LastName" autofocus>
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên khách hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.FirstName" name="FirstName">
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh:</label>
                <div class="col-sm-10">
                    @Html.HiddenFor(m => m.BirthDate)
                    <input type="text" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.BirthDate)" name="birthday">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" value="@Model.Email" name="Email">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ghi chú:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="Notes">@Model.Notes </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh cá nhân:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                    @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <input type="hidden" class="form-control" value="@Model.Photo" name="Photo">
                    <img id="Photo" src="~/@Model.Photo" class="img img-bordered" style="width:200px;" />

                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Employee" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
            @Html.ValidationSummary()
        </form>
    </div>
</div>
