﻿@model _19T1021223.DomainModels.Employee
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Employee/Save" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.EmployeeID" name="EmployeeID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" value="@Model.Photo" name="Photo">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Họ khách hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.LastName" name="LastName" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên khách hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.FirstName" name="FirstName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh:</label>
                <div class="col-sm-10">
                    
                    <input type="datetime" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.BirthDate)" name="BirthDate">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" value="@Model.Email" name="Email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ghi chú:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.Notes" name="Notes">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Employee" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>


