﻿@model _19T1021223.Web.Models.EmployeeSearchOutput
@{
    Layout = null;
}

@*Kết quả tìm kiếm *@
<p style="margin-top:5px;">
    Có <strong>@Model.RowCount</strong> nhân viên trong tổng số <strong>@Model.PageCount</strong> trang
</p>
@*Hiển thì thông tin nhà cc *@

<div class="content">
    <div class="row">
        @foreach (var item in Model.Data)
        {
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle "src="@item.Photo" alt="User profile picture">

                        <h3 class="profile-username text-center">@item.LastName @item.FirstName</h3>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Họ và tên: </b> <span class="">@item.LastName @item.FirstName</span>
                            </li>
                            <li class="list-group-item">
                                <b>Ngày sinh:</b> <span class="">@item.BirthDate</span>
                            </li>
                            <li class="list-group-item">
                                <b>Email:</b> <span class="">@item.Email</span>
                            </li>
                            <li class="list-group-item ">
                                <b style="overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 3; display: -webkit-box; -webkit-box-orient: vertical; ">@item.Notes</b>
                            </li>
                        </ul>
                        <div class="timeline-footer text-right" style="">
                            <a href="~/Employee/Edit/@item.EmployeeID" class="btn btn-primary btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/Employee/Delete/@item.EmployeeID" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>

                    </div>

                    <!-- /.box-body -->
                </div>
            </div>
        }
    </div>
</div>

@*Phân trang*@
<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>

@*@section scripts {
    <script>
        $(document).ready(function () {
            var imgBusinessWidth = $('.img_img').width();
            var heightImgBusiness = $(".img_img");

            var heightsImgBusiness = imgBusinessWidth / 1;


            heightImgBusiness[i].style.height = heightsImgBusiness + "px";
        }
        


    </script>
}*@