﻿@model _19T1021223.Web.Models.AccountPagniationResultModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PTTShop | Đăng nhập</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Themes/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Themes/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Themes/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Themes/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> -->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/"><b>PTT </b>Shop</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Đổi mật khẩu</p>

            <form class="form-horizontal" action="~/Account/ChangePassword" method="post">

                @Html.AntiForgeryToken()

                <div class="form-group has-feedback">
                    <input type="password" name="Password" value="@Model.Password" class="form-control" placeholder="Nhập mật khẩu cũ" autofocus>
                    @Html.ValidationMessage("password", new { @class = "text-danger" })
                </div>

                <div class="form-group has-feedback">
                    <input type="password" name="NewPassword" value="@Model.NewPassword" class="form-control" placeholder="Nhập mật khẩu mới">
                    @Html.ValidationMessage("newPassword", new { @class = "text-danger" })
                </div>

                <div class="form-group has-feedback">
                    <input type="password" name="PasswordAgain" value="@Model.PasswordAgain" class="form-control" placeholder="Nhập lại mật khẩu mới">
                    @Html.ValidationMessage("passwordAgain", new { @class = "text-danger" })

                </div>

                <div class="col-xs-8" style="color:red">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 text-danger">
                            @Html.ValidationMessage("", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk"></i> Đổi mật khẩu
                        </button>

                        <a href="~/" class="btn btn-warning">Quay lại</a>
                    </div>
                </div>

            </form>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Themes/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Themes/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Themes/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });</script>
</body>
</html>


