﻿@model _19T1021223.DomainModels.Category
@{
    ViewBag.Title = "Xóa loại sản phẩm";
}
<div class="box box-danger">
    <div class="box-body">
        <form class="form-horizontal" action="~/Category/Delete/@Model.CategoryID" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên loại hàng:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.CategoryName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Description</p>
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-offset-2 col-sm-10">
                    @if (_19T1021223.BusinessLayers.CommonDataService.InUsedCategory(Model.CategoryID))
                    {
                        <button type="submit" class="btn btn-danger disabled">
                            <i class="glyphicon glyphicon-trash"></i> Xóa dữ liệu
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i> Xóa dữ liệu
                        </button>
                    }

                    <a href="~/Category" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>

