﻿@model _19T1021223.DomainModels.Category
@{

}
<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Category/Save" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.CategoryID" name="CategoryID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Tên loại hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.CategoryName" name="CategoryName" autofocus>
                    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.Description" name="Description">
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Category" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>

