﻿
@{
    ViewBag.Title = "Thêm khách hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên khách hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia :</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>-- Chọn quốc gia --</option>
                        <option>Việt Nam</option>
                        <option>Hàn Quốc</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thành phố:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã bưu chính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Customer" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>

