﻿@model _19T1021223.DomainModels.Customer
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Customer/Save" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.CustomerID" name="CustomerID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Tên khách hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.CustomerName" name="CustomerName" autofocus>
                    @Html.ValidationMessageFor(m => m.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.ContactName" name="ContactName">
                    @Html.ValidationMessageFor(m => m.ContactName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" value="@Model.Email" name="Email">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.Address" name="Address">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia :</label>
                <div class="col-sm-10">

                    @Html.DropDownListFor(m => m.Country, SelectListHelper.Countries(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thành phố:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.City" name="City">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã bưu chính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.PostalCode" name="PostalCode">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Customer" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>


