﻿@model _19T1021223.Web.Models.CustomerSearchOutput
@{
    Layout = null;
}

@*Kết quả tìm kiếm *@
<p style="margin-top:5px;">
    Có <strong>@Model.RowCount</strong> nhà cung cấp trong tổng số <strong>@Model.PageCount</strong> trang
</p>
@*Hiển thì thông tin nhà cc *@
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="bg-primary">
                <th>Tên khách hàng</th>
                <th>Tên giao dịch</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Quốc gia</th>
                <th>Thành phố</th>
                <th>Mã bưu chính</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.ContactName</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Country</td>
                    <td>@item.City</td>
                    <td>@item.PostalCode</td>
                    <td class="text-right">
                        <a href="~/Customer/Edit/@item.CustomerID" class="btn btn-xs btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Customer/Delete/@item.CustomerID" class="btn btn-xs btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@*Phân trang*@
<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>


