﻿@model IEnumerable<_19T1021223.DomainModels.OrderDetail>
@{
    ViewBag.Title = "Lập đơn hàng";
    int stt = 0;
    decimal sumTotal = 0;
    string errorMessage = ViewBag.ErrorMessage.ToString();
}

<div class="box box-primary">
    <div class="box-body">
        @if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Lỗi!</strong> @errorMessage
            </div>
        }
        <!-- Tìm kiếm, hiển thị và chọn hàng đưa vào giỏ -->
        <div class="col-md-4">
            <h4>Lựa chọn hàng cần bán</h4>
            <form id="formSearch" action="~/Order/SearchProducts">
                <div class="input-group">
                    <input type="text" name="searchValue"
                           class="form-control"
                           placeholder="Nhập tên mặt hàng cần tìm">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <div id="searchResult">
            </div>
        </div>
                
        <div class="col-md-8">
            <!-- Giỏ hàng -->
            <h4>Danh sách mặt hàng đã chọn</h4>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên hàng</th>
                        <th class="text-center">ĐVT</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Thành tiền</th>
                        <th style="width:40px"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="7" class="text-center">Giỏ hàng trống</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            stt += 1;
                            sumTotal += item.TotalPrice;

                            <tr>
                                <td class="text-center">@stt</td>
                                <td>@item.ProductName</td>
                                <td class="text-center">@item.Unit</td>
                                <td class="text-center">@item.Quantity</td>
                                <td class="text-right">@string.Format("{0:N}", item.SalePrice)</td>
                                <td class="text-right">@string.Format("{0:N}", item.TotalPrice)</td>
                                <td class="text-right">
                                    <a href="~/Order/RemoveFromCart/@item.ProductID" class="btn btn-xs btn-danger" onclick="return confirm('Loại mặt hàng [@item.ProductName] khỏi giỏ hàng?')">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Tổng cộng:</th>
                        <th class="text-right">@string.Format("{0:N}", sumTotal)</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <div class="text-right">
                <a href="~/Order/ClearCart" class="btn btn-sm btn-danger" onclick="confirm('Có muốn xóa giỏ hàng không?')">
                   <i class="fa fa-trash"></i> Xóa giỏ hàng
                </a>
            </div>

            <!-- Nhập khách hàng, nhân viên phụ trách và khởi tạo đơn hàng -->
            <form action="~/Order/Init" class="form-horizontal" method="post">
                <h4>Nhập thông tin về khách hàng và nhân viên phụ trách đơn hàng</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Khách hàng:</label>
                        <select class="form-control" name="customerID">
                            <option value="0">-- Chọn khách hàng --</option>
                            @foreach (var item in _19T1021223.BusinessLayers.CommonDataService.ListOfCustomers())
                            {
                                <option value="@item.CustomerID">@item.CustomerName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Nhân viên phụ trách:</label>
                        <select class="form-control" name="employeeID">
                            <option value="0">-- Chọn nhân viên --</option>
                            @foreach (var item in _19T1021223.BusinessLayers.CommonDataService.ListOfEmployees())
                            {
                                <option value="@item.EmployeeID">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">Lập đơn hàng</button>                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@ViewBag.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
            return;
        }
    </script>
}