﻿@model _19T1021223.DomainModels.OrderDetail
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <form id="formEditDetail" action="~/Order/UpdateDetail" method="post" class="form-horizontal">
            <input hidden value="@Model.ProductID" name="ProductID" />
            <input hidden value="@Model.OrderID" name="OrderID" />
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật chi tiết đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-3">Tên mặt hàng:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">@Model.ProductName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Đơn vị tính:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">@Model.Unit</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Số lượng:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" value="@Model.Quantity" name="Quantity" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Giá bán:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" value="@Model.SalePrice" name="SalePrice" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#formEditDetail").submit(function (e) {
            e.preventDefault();
            var data = $(this).serializeArray();
            var link = $(this).prop("action");
            $.ajax({
                url: link,
                data: data,
                type: "GET",
                async: false,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#dialogModal").empty();
                    $("#dialogModal").html(data);
                    $("#dialogModal").modal();
                }
            });

        });
    })
</script>



