﻿@model _19T1021223.Web.Models.OrderSearchInput
@{
    ViewBag.Title = "Tra cứu đơn hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!--Form đầu vào tìm kiếm-->
        <form id="formSearch" action="~/Order/Search" method="post">
            @Html.HiddenFor(m => m.PageSize)
            
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-control" name="Status">
                        @foreach (var item in SelectListHelper.Status())
                        {
                            if (Model.Status == Convert.ToInt32(item.Value))
                            {
                                
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-10 input-group">
                    <input type="text" name="SearchValue"
                           class="form-control"
                           placeholder="Tìm kiếm theo tên khách hàng hoặc tên người giao hàng" value="@Model.SearchValue">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </span>
                </div>
            </div>
        </form>

        @*Kết quả tìm kiếm *@
        <div id="searchResult"></div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}
