﻿@model _19T1021223.Web.Models.OrderSearchOutput
@{
    Layout = null;
}

<!-- Kết quả tìm kiếm -->
<p style="margin:10px 0 10px 0">
    Có <strong>@Model.RowCount</strong> đơn hàng trong tổng số <strong>@Model.PageCount</strong> trang
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>Khách hàng</th>
                <th>Ngày lập</th>
                <th>Nhân viên phụ trách</th>
                <th>Thời điểm duyệt</th>
                <th>Người giao hàng</th>
                <th>ngày nhận giao hàng</th>
                <th>Thời điểm kết thúc</th>
                <th>Trạng thái</th>
                <th style="width:40px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.OrderTime</td>
                    <td>@item.EmployeeFullName</td>
                    <td>@item.AcceptTime</td>
                    <td>@item.ShipperName</td>
                    <td>@item.ShippedTime</td>
                    <td>@item.FinishedTime</td>
                    <td>@item.StatusDescription</td>
                    <td>
                        <a href="~/Order/Details/@item.OrderID" class="btn btn-info btn-xs">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@i)">@i</a></li>
            }
        }
    </ul>
</div>
