﻿@model _19T1021223.DomainModels.Shipper
@{
    ViewBag.Title = "Xóa thông tin nhân viên giao hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form class="form-horizontal" action="~/Shipper/Delete/@Model.ShipperID" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên người giao hàng:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.ShipperName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Điện thoại:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Phone</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @if (_19T1021223.BusinessLayers.CommonDataService.InUsedShipper(Model.ShipperID))
                    {
                        <button type="submit" class="btn btn-danger disabled">
                            <i class="glyphicon glyphicon-trash"></i> Xóa dữ liệu
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i> Xóa dữ liệu
                        </button>
                    }

                    <a href="~/Shipper" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>


