﻿@model _19T1021223.DomainModels.Shipper
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Shipper/Save" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.ShipperID" name="ShipperID" />

            <div class="form-group">
                <label class="control-label col-sm-2">Tên người giao hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.ShipperName" name="ShipperName" autofocus>
                    @Html.ValidationMessageFor(m => m.ShipperName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="@Model.Phone" name="Phone">
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Shipper" class="btn btn-warning">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>

